#googleMapContainer{
	margin-top: 20px;
	width: 100%;
	height: 500px;
}

#top{
	background-color: #CCC9A1;
	height: 50px;
}

#title{
	margin-top: 20px;
	color: #A53F2B;
	text-align: center;
}

#check{
	font-family: 'Hind', sans-serif;
	color: #280004;
	margin-top: 50px;
	margin-left: auto;
  margin-right: auto;
}

table, th, td{
	font-family: 'Hind', sans-serif;
	padding: 5px;
	border: 1px solid black;
	text-align: center;
}
